{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flaskq - Login{% endblock %}

{% block navbar %}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(register_form, action="register") }}
</div>
<div class="col-md-4">
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.email, placeholder='Email') }}
      {{ wtf.form_field(form.remember_me) }}
      {{ wtf.form_field(form.password, placeholder='Password') }}
      {{ wtf.form_field(form.submit) }}
    </form>
    <br>
    <p>New User?<a href="#">Click here to register</a> </p>
</div>
{% endblock %}