.dropdown:hover .dropdown-menu {
    display: block;
}

body {
    padding-top: 65px;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

.question-tabs {
    margin-top: 16px;
}

.questions {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
    border-top: 1px solid #e0e0e0;
}

.question-tabs .questions{
    margin: 0;
    border-top: none;
}

.questions .question {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.question-thumbnail {
    position: absolute;
}

.question-content {
    margin-left: 48px;
    min-height: 48px;
}

.question-date {
    float: right;
}

.question-author {
    font-weight: bold;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.answers {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}

.answers .answer {
    /*margin-left: 32px;*/
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.answers .answer:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

.answer-date {
    float: right;
}

.answer-author {
    font-weight: bold;
}

.answer-thumbnail {
    position: absolute;
}

.answer-content {
    margin-left: 48px;
    min-height: 48px;
}

.flask-pagedown-preview {
    margin: 10px 0 10px 0;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

.flask-pagedown-preview h1 {
    font-size: 140%;
}

.flask-pagedown-preview h2 {
    font-size: 130%;
}

.flask-pagedown-preview h3 {
    font-size: 120%;
}

.answer-body h1 {
    font-size: 140%;
}

.answer-body h2 {
    font-size: 130%;
}

.answer-body h3 {
    font-size: 120%;
}

.comment-form {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
}

.comments {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}

.comments .comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.comments .comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

.comment-date {
    float: right;
}

.comment-author {
    font-weight: bold;
}

.comment-thumbnail {
    position: absolute;
}

.comment-content {
    margin-left: 33px;
    min-height: 33px;
}

.comment-box {
    margin-top: 10px;
    background: #f6f6f6;
    border-right: 1px solid #e2e2e2;
}