.dropdown:hover .dropdown-menu {
    display: block;
}

body {
    padding-top: 65px;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

.activity-tabs {
    margin-top: 16px;
}

.activities {
    list-style-type: none;
    padding: 0;
}

.activities .activity {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.answers {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}

.answers .answer {
    /*margin-left: 32px;*/
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.answers .answer:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

.answer-date {
    float: right;
}

.answer-author {
    font-weight: bold;
}

.answer-thumbnail {
    position: absolute;
}

.answer-content {
    margin-left: 48px;
    min-height: 48px;
}

.answer-creator {
    margin-top: 10px;
    padding: 10px;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;

}

.answer-editor {
    margin-left: 48px;
    min-height: 48px;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.flask-pagedown-preview {
    margin: 10px 0 10px 0;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

.flask-pagedown-preview h1 {
    font-size: 140%;
}

.flask-pagedown-preview h2 {
    font-size: 130%;
}

.flask-pagedown-preview h3 {
    font-size: 120%;
}

.answer-body h1 {
    font-size: 140%;
}

.answer-body h2 {
    font-size: 130%;
}

.answer-body h3 {
    font-size: 120%;
}

.comment-form {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
}

.comment-form input {
    height: 30px;
}

.comments {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}

.comments .comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.comments .comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

.comment-date {
    float: right;
}

.comment-author {
    font-weight: bold;
}

.comment-thumbnail {
    position: absolute;
}

.comment-content {
    margin-left: 33px;
    min-height: 33px;
}

.comment-box {
    margin-top: 10px;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
}

.activity-header {
    margin-bottom: 4px;
    color: #999;
    font-size: 13px;
}

.question-link {
    font-size: 19px;
    color: #333;
    font-weight: bold;
}

.popover {
    min-width: 20%;
}

.popover-content {
    padding: 0;
}

.user-popover {
    margin-top: 8px;
}

.user-status {
    margin: 8px;
    padding: 8px;
    background-color: #fcfcfc;
    border: 1px solid #e2e2e2;
}

.status {
    display: inline-block;
    border-right: 1px solid #e2e2e2;
    padding: 8px;
    text-align: center;
}

.status:last-child {
    border-right: none;
}

.user-footer {
    border-top: 1px solid #e2e2e2;
    background: #f6f6f6;
    padding: 8px;
}