<ul class="answers">
    {% for answer in answers %}
    <li class="answer">
        <div class="answer-thumbnail">
            <a href="{{ url_for('.user', username=answer.author.username) }}">
                <img class="img-circle profile-thumbnail" src="{{ answer.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="answer-content">
            <div class="answer-date">{{ moment(answer.timestamp).fromNow() }}</div>
            <div class="answer-author"><a href="{{ url_for('.user', username=answer.author.username) }}">{{ answer.author.username }}</a> </div>
            <div class="answer-body">
                {% if answer.body_html %}
                    {{ answer.body_html | safe }}
                {% else %}
                    {{ answer.body }}
                {% endif %}
            </div>
            <div class="answer-footer">
                <button class="btn btn-info btn-sm">Upvote | 11</button>
                <button class="btn btn-link btn-sm">Downvote</button>
                {% if current_user == answer.author %}
                <a href="{{ url_for('.edit_answer', id=answer.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_answer', id=answer.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.comment', id=answer.id, type='answer') }}" class="comments-link">
                    <span class="label label-default">{{ answer.comments.count() }} Comments</span>
                </a>
            </div>
        </div>
        <div class="comment-box" style="display: none;"></div>
    </li>
    {% endfor %}
</ul>